@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* <!-- google fonts  --> */
.font-raleway {
   font-family: "Raleway", sans-serif;
}

.font-inter {
   font-family: "Inter", sans-serif;
}


#ticket-price span:nth-child(2) {
   margin-left: 80px;
}

#ticket-price span:nth-child(3) {
   margin-left: 90px;
}

.hero-bg {
   background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/banner.png');
}

.selected-seat {
   background-color: #1DD100 !important;
   color: white;
}